---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>
        <ClientRouter />
    </head>
    <body>
        <div class="flex flex-row gap-2 p-4">
            <a href="/" class="rounded border border-gray-800 px-2 py-1"
                >Page one</a
            >
            <a href="/two" class="rounded border border-gray-800 px-2 py-1"
                >Page two</a
            >
        </div>
        <div class="p-4 border border-orange-600">
            <span>Content:</span>
            <slot />
        </div>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
